<h1>Listing hypotheses</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Experiment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hypotheses.each do |hypothesis| %>
  <tr>
    <td><%= hypothesis.content %></td>
    <td><%= hypothesis.experiment_id %></td>
    <td><%= link_to 'Show', hypothesis %></td>
    <td><%= link_to 'Edit', edit_hypothesis_path(hypothesis) %></td>
    <td><%= link_to 'Destroy', hypothesis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hypothesis', new_hypothesis_path %>
