<h2><%= link_to '@experiment.title', @experiment %></h2>
  <p><%= @experiment.tagline</p>
  <p><%= @experiment.description %></p>
  <p><%= @experiment.purpose %></p>
  <%= link_to 'Edit', edit_experiment_path(@experiment) %>
  <%= link_to 'Destroy', @experiment, method: :delete, data: { confirm: 'Are you sure?' } %></p>