<% provide(:title, 'Create Experiment') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@experiment) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :tagline %>
      <%= f.text_field :tagline %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :purpose %>
      <%= f.text_field :purpose %>
      
      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

