<h1>Listing experiments</h1>

<% @experiments.each do |experiment| %>

    <h2><%= experiment.title %></h2>
    <p><%= experiment.tagline %></p>
    <p><%= experiment.description %></p>
    <p><%= experiment.purpose %></p>
    <p><%= link_to 'Show', experiment %>
    <%= link_to 'Edit', edit_experiment_path(experiment) %>
    <%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<% end %>

<br />

<%= link_to 'New Experiment', new_experiment_path %>
