<% provide(:title, @experiment.title) %>

<h1><%= @experiment.title %></h1>
<i><%= @experiment.tagline %></i>

<p>
  <b>Description:</b>
  <%= @experiment.description %>
</p>

<p>
  <b>Purpose:</b>
  <%= @experiment.purpose %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %>

<% if @experiment.researchsection %>
	<h2>Research</h2>
		<p> <%= @experiment.researchsection.content %> </p>
		<p><%= @experiment.researchsection.videolink %> </p>
<% else %> |
<% end %>

<%= link_to 'Back', experiments_path %>