<% provide(:title, @experiment.title) %>
<div class="row">
  <div class="span8">
<h1><%= @experiment.title %></h1>
<i><%= @experiment.tagline %></i>

<p>
  <b>Description:</b>
  <%= @experiment.description %>
</p>

<p>
  <b>Purpose:</b>
  <%= @experiment.purpose %>
</p>

<% if current_user.admin?  %>
    <%= link_to 'Edit', edit_experiment_path(@experiment) %> | 
    <%= link_to "Delete", @experiment, method: :delete,
                                  data: { confirm: "You sure?" } %> :: Experiment
<% end %>
  </div>
</div>

<%= render 'shared/research' %>

<%= render 'shared/hypothesis' %>

<%= render 'shared/procedure' %>

<%= render 'shared/analysis' %>

</br> <%= link_to 'Back', experiments_path %>